/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 */

body{
  background-color: #CCCCCC;
}

#slide{
  background: #fff;
  width: 800px;
  height: 600px;
  margin: 20px auto;
  -webkit-box-shadow:  1px 1px 3px 4px #aaa;
  box-shadow:  1px 1px 3px 4px #aaa;
}

.draggable{
  display:inline;
  position: relative;
}

.header{
  left: 252px;
  top: 213px;
}

.subheader{
  left: 138px;
  top: 289px;
}

