// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #CCCCCC;
}

#slide{
  background: #fff;
  width: 800px;
  height: 600px;
  margin: 20px auto;
  -webkit-box-shadow:  1px 1px 3px 4px #aaa;
  box-shadow:  1px 1px 3px 4px #aaa;
}

.editable{
  display:inline;
  position: absolute;
}

.header{
  left: 426px;
  top: 198px;
}

.subheader{
  left: 505px;
  top: 290px;
}

